In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('seaborn-poster')

%matplotlib inline

In [87]:
a = ['Qingkai', 'Ironman', 'Batman', 'Qingkai', 'Ironman', 'Qingkai', 'Batman']
b = [3., 4, 2., 4, 5, 1, 2]
c = range(len(a))

d = [[x,y,z] for x,y,z in zip(a,b,c)]

In [93]:
df = pd.DataFrame(d, columns=['name', 'score', 'round'])
df

      name  score  round
0  Qingkai    3.0      0
1  Ironman    4.0      1
2   Batman    2.0      2
3  Qingkai    4.0      3
4  Ironman    5.0      4
5  Qingkai    1.0      5
6   Batman    2.0      6

In [89]:
df.groupby('name').mean()

            score     round
name
Batman   2.000000  4.000000
Ironman  4.500000  2.500000
Qingkai  2.666667  2.666667

In [90]:
df.groupby('name').std()

            score     round
name
Batman   0.000000  2.828427
Ironman  0.707107  2.121320
Qingkai  1.527525  2.516611

In [94]:
df.groupby('name').agg({'score':['mean','std'],'round':'count'})

            score           round
             mean       std count
name
Batman   2.000000  0.000000     2
Ironman  4.500000  0.707107     2
Qingkai  2.666667  1.527525     3

In [102]:
def cal_RMS(x):
    return np.sqrt(sum(x**2/len(x)))

In [103]:
df.groupby('name').agg({'score':['mean',cal_RMS],'round':'count'})

            score           round
             mean   cal_RMS count
name
Batman   2.000000  2.000000     2
Ironman  4.500000  4.527693     2
Qingkai  2.666667  2.943920     3